@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #4a5568; /* gray-700 */
  --bg-primary: #f7fafc; /* gray-100 */
  --accent: #d6e4f3;
  --border: #9ca3af;
  --icon: #9ca3af;
  --icon-hover: #181b21;
}

.dark {
  --text-primary: #bcbcbc; /* gray-300 */
  --bg-primary: #02021f; /* gray-800 */
  --accent: #17171c;
  --border: #35445f ;
  --icon: #9ca3af;
  --icon-hover: #e5e7eb;
}
